<div class="loginContainer">
    <img src="/img/mikine-logo.png" alt="logo mikine" class="loginLogo">
    <input  type="text" id="inputEmail" placeholder="usuario"></input>
    <input  type="password" id="inputPassword" placeholder="password"></input>
    <button class="loginButton" id="loginButton">Enviar</button>
</div>

<script src="js/index.js"></script>